.container {
    display: flex;
    flex-direction: column; /*세로 방향을 정렬*/
    align-items: center; /*수평 가운데 정렬*/
    width: 500px;
    height: 450px; 
    background-color: gray;
}

.top-section {
    display: grid; 
    grid-template-columns: repeat(6, 60px); /*그리드 컨테이너 안의 항목을 몇 개의 컬럼으로 배치할지, 각 컬럼의 너비를 얼마로 할지*/
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-item {
    width: 60px;
    height: 60px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center; /*수평 가운데 정렬*/
    align-items: center;
}

.header-item img {
    max-width: 100%;
    max-height: 100%;
}

.middle-section {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}

.bottom-section {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    background-color: #808080;
    padding: 5px;
    border: 2px solid #000;
}

.cell {
        width: 30px;
        height: 30px;
        background-color: #c0c0c0;
        border: 1px solid #808080;
        display: flex;
        font-size: 18px;
    }
    
.cell:hover {
        background-color: #b0b0b0;
    }
